<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
      <title>{{ title }} - Study Group</title>
      {% else %}
      <title>Welcome to Study Group!</title>
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('notes') }}">Notes</a>
        <a href="{{ url_for('groups') }}">Study Groups</a>
        <a href="{{ url_for('profile') }}">Profile</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <!--{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}-->
    {% block app_content %}{% endblock %}
    </div>
{% endblock %}
